/* === SASS === */
/* variables */
/* mixins */
/* placeholders */
#mobile-menu li a {
  text-transform: uppercase;
}

#hamburger {
  cursor: pointer;
  float: right;
  overflow: hidden;
  position: relative;
  width: 20px;
  height: 16px;
  margin-top: 40px;
}
#hamburger span,
#hamburger span:before,
#hamburger span:after {
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
#hamburger span {
  width: 20px;
  height: 16px;
  display: block;
  background-image: url(../img/open.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}


/* mobile-menu */
#overlay {
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

#mobile-menu {
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  background-color: (0, 0, 0, 1);
  transition: 0.25s;
  display: block !important;
  height: calc(100vh - 90px);
  overflow-y: auto;
  position: fixed;
  right: -100%;
  top: 90px;
  width: 19em;
  z-index: 9999;
}
#mobile-menu header {
  padding-right: 5%;
}
#mobile-menu li {
  clear: right;
}
#mobile-menu li a {
  color: #fff;
  font-size: 1.5em;
  border-bottom: 3px solid #EF7F1A;
  display: block;
  text-align: left;
  padding: 0.8em;
}

#mobile-menu li:nth-child(5) a {
  border-bottom: none;
}

#mobile-menu li a:hover {
  background-color: #EF7F1A;
}
#mobile-menu li a:active, #mobile-menu li a.active {
  background-color: #EF7F1A;
  color: #9a9a9a;
}
#mobile-menu li.last a {
  border-bottom: none;
}
#mobile-menu.open-menu {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
}
.mobile-menu #mobile-menu {
  right: 0;
}
